# ==========================================
# DEPENDENCIES
# ==========================================

node_modules/
**/node_modules/


# ==========================================
# ENVIRONMENT VARIABLES / SECRETS
# ==========================================

.env
.env.*
!.env.example


# ==========================================
# BUILD FILES
# ==========================================

dist/
dist-ssr/
build/


# ==========================================
# LOGS
# ==========================================

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# ==========================================
# LOCAL DATABASE BACKUP
# ==========================================

shopsphere-backup/


# ==========================================
# TEST / COVERAGE
# ==========================================

coverage/


# ==========================================
# EDITOR
# ==========================================

.vscode/
!.vscode/extensions.json
.idea/

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# ==========================================
# OS
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# TEMPORARY FILES
# ==========================================

*.tmp
*.temp

*.local